/* COLOR PALETTE */
#root {
  display: flex;
  flex-direction: column;
}

html {
  position: absolute;
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
}
body::-webkit-scrollbar {
  display: none;
}

.App {
  min-height: calc(100vh - 300px);
  padding-bottom: 300px;
}
.App h1 {
  font-size: 2rem;
}

.react-responsive-modal-modal {
  top: 25%;
  left: 0%;
  border-radius: 20px;
}
.react-responsive-modal-modal .react-responsive-modal-closeButton {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: flex-end;
}
.react-responsive-modal-modal .react-responsive-modal-closeButton:hover {
  color: none;
  background-color: transparent;
  border: none;
  padding: 0px;
  border-radius: 0px;
}

.table-cart {
  padding-right: 20px;
  width: 520px;
}
.table-cart th {
  font-size: 1rem;
  text-align: left;
  background-color: rgb(220, 220, 220);
  padding: 5px 10px;
}
.table-cart tr {
  align-items: center;
  background-color: rgb(240, 240, 240);
}
.table-cart td {
  height: 100%;
  padding: 5px;
}
.table-cart .td-name {
  width: 150px;
}
.table-cart .td-qty {
  width: 80px;
}
.table-cart .td-qty .qty-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 35px;
  padding: 0 2px;
  box-sizing: border-box;
}
.table-cart .td-qty .qty-content a {
  color: black;
}
.table-cart .td-qty .qty-content svg:hover {
  color: #cfdac8;
}
.table-cart .td-qty .qty-content.centered {
  padding: 0 8px;
}
.table-cart .td-right {
  text-align: end;
}
.table-cart .input-cart {
  display: flex;
  width: 40px;
  padding: 2px 5px;
  border: 2px solid #7c9473;
  transition: box-shadow 0.5s, border-radius 0.5s;
}
.table-cart .input-cart::placeholder {
  color: #7c9473;
  font-weight: 500;
  opacity: 0.5;
}
.table-cart .input-cart:focus {
  outline: none;
  border-radius: 5px;
  box-shadow: 0px 2px 3px 2px rgba(0, 0, 0, 0.15);
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 250px;
}
.form-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.label-form {
  font-weight: 500;
  color: #7c9473;
}

.input-form {
  display: flex;
  padding: 5px 10px;
  border: 2px solid #7c9473;
  transition: box-shadow 0.5s, border-radius 0.5s;
}
.input-form::placeholder {
  color: #7c9473;
  font-weight: 500;
  opacity: 0.5;
}
.input-form:focus {
  outline: none;
  border-radius: 5px;
  box-shadow: 0px 2px 3px 2px rgba(0, 0, 0, 0.15);
}

.nav-btn {
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  width: 150px;
  min-height: 50px;
  padding: 0 10px;
  font-size: 1.4rem;
  margin: 5px 0;
  transition: 0.3s;
  color: whitesmoke;
}
.nav-btn:hover {
  color: #7c9473;
  background-color: #cfdac8;
}

.applant-logo {
  width: 100px;
  padding: 0 20px 0 0;
}

.login-req {
  font: inherit;
  font-size: 4rem;
  text-align: center;
  color: red;
}

.actions-cell {
  min-width: calc(100% - 4px);
}
.actions-cell .actions-cell-content {
  display: flex;
  justify-content: space-evenly;
}

.link {
  color: black;
  transition: 0.3s;
}

.link:hover {
  color: #cfdac8;
}

.button {
  width: 150px;
  background: none;
  background-color: #cfdac8;
  color: #7c9473;
  border: 2px solid #7c9473;
  margin: 0;
  padding: 5px 10px;
  font: inherit;
  font-size: 1.1rem;
  text-decoration: none;
  font-weight: 700;
  text-align: center;
  box-sizing: border-box;
  outline: inherit;
  transition: 0.5s;
  cursor: pointer;
}
.button:hover {
  background-color: #e6efe0;
  border-radius: 4px;
  box-shadow: 0px 2px 4px 1px rgba(0, 0, 5, 0.2);
}

table {
  margin: 10px 0;
}
table tr {
  border: 1px solid black;
}
table td {
  padding: 2px;
}

.text-centered {
  text-align: center;
}

.spinner {
  max-width: 100%;
  height: 100px;
  margin: 0 auto;
  margin-top: 50vh;
}
.spinner .lds-ripple {
  display: flex;
  justify-content: center;
  position: relative;
  width: 80px;
  height: 80px;
}
.spinner .lds-ripple div {
  display: flex;
  justify-content: center;
  position: absolute;
  border: 4px solid #7c9473;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.spinner .lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

.spinner-2 {
  max-width: 100%;
  height: 100px;
  margin: 0 auto;
  margin-top: 50vh;
}

@-webkit-keyframes move {
  from {
    left: -30%;
  }
  to {
    left: 100%;
  }
}
@-webkit-keyframes moveFirst {
  from {
    left: 50%;
  }
  to {
    left: 100%;
  }
}
.plant-cards-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 1px;
}
.plant-cards-container .plant-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 400px;
  margin: 0 auto;
  padding: 30px 0px;
  margin: 30px;
  -webkit-box-shadow: 0px 10px 16px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 10px 16px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 10px 16px 2px rgba(0, 0, 0, 0.3);
  transition: 0.5s;
}
.plant-cards-container .plant-card img {
  margin-top: 25px;
  object-fit: cover;
  width: 250px;
  height: 250px;
}
.plant-cards-container .plant-card h2 {
  font-size: 1.5rem;
}
.plant-cards-container .plant-card h3 {
  font-size: 1.2rem;
}
.plant-cards-container .plant-card:hover {
  transform: scale3d(1.01, 1.01, 1);
}
.plant-cards-container .plant-card .see-details {
  text-align: center;
  background-color: #abd09a;
  width: 300px;
  padding: 5px 0px;
  color: white;
  font-weight: bold;
  text-decoration: none;
}

.cart h1 {
  text-align: center;
  color: #7c9473;
}
.cart .ShoppingCart {
  padding-bottom: 10vh;
  min-height: 50vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.cart .ShoppingCart h1 {
  color: #7c9473;
}
.cart .ShoppingCart .total-price {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cart .ShoppingCart .allItemsCart {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 0.2px solid grey;
  padding: 20px 30px;
  margin: 20px;
}
.cart .ShoppingCart .allItemsCart button {
  width: 30px;
  background: none;
  border: none;
}
.cart .ShoppingCart .allItemsCart img {
  object-fit: cover;
  width: 100px;
  height: 100px;
  margin-right: 20px;
}
.cart .ShoppingCart .allItemsCart .removeIcon {
  color: #7c9473;
  width: 20px;
  height: 20px;
  border-radius: 50px;
}
.cart .ShoppingCart .allItemsCart .removeIcon:hover {
  color: #abd09a;
  background-color: transparent;
}
.cart .ShoppingCart .allItemsCart .infoItemCart {
  display: flex;
  align-items: center;
}
.cart .ShoppingCart .allItemsCart .infoItemCart p {
  margin: 10px;
}

.Signup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Login div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.CheckoutForm {
  /* spinner/processing state, errors */
}
.CheckoutForm .stripeForm {
  width: 30vw;
  align-self: center;
  box-shadow: 0px 0px 0px 0.5px rgba(50, 50, 93, 0.1), 0px 2px 5px 0px rgba(50, 50, 93, 0.1), 0px 1px 1.5px 0px rgba(0, 0, 0, 0.07);
  border-radius: 7px;
  padding: 40px;
}
.CheckoutForm input {
  border-radius: 6px;
  margin-bottom: 6px;
  padding: 12px;
  border: 1px solid rgba(50, 50, 93, 0.1);
  max-height: 44px;
  font-size: 16px;
  width: 100%;
  background: white;
  box-sizing: border-box;
}
.CheckoutForm .result-msg {
  line-height: 22px;
  font-size: 16px;
}
.CheckoutForm .result-msg a {
  color: rgb(89, 111, 214);
  font-weight: 600;
  text-decoration: none;
}
.CheckoutForm .hidden {
  display: none;
}
.CheckoutForm #card-error {
  color: rgb(105, 115, 134);
  font-size: 16px;
  line-height: 20px;
  margin-top: 12px;
  text-align: center;
}
.CheckoutForm #card-element {
  border-radius: 4px 4px 0 0;
  padding: 12px;
  border: 1px solid rgba(50, 50, 93, 0.1);
  max-height: 44px;
  width: 100%;
  background: white;
  box-sizing: border-box;
}
.CheckoutForm #payment-request-button {
  margin-bottom: 32px;
}
.CheckoutForm button:disabled {
  opacity: 0.5;
  cursor: default;
}
.CheckoutForm .spinner,
.CheckoutForm .spinner:before,
.CheckoutForm .spinner:after {
  border-radius: 50%;
}
.CheckoutForm .spinner {
  color: #ffffff;
  font-size: 22px;
  text-indent: -99999px;
  margin: 0px auto;
  position: relative;
  width: 20px;
  height: 20px;
  box-shadow: inset 0 0 0 2px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.CheckoutForm .spinner:before,
.CheckoutForm .spinner:after {
  position: absolute;
  content: "";
}
.CheckoutForm .spinner:before {
  width: 10.4px;
  height: 20.4px;
  background: #5469d4;
  border-radius: 20.4px 0 0 20.4px;
  top: -0.2px;
  left: -0.2px;
  -webkit-transform-origin: 10.4px 10.2px;
  transform-origin: 10.4px 10.2px;
  -webkit-animation: loading 2s infinite ease 1.5s;
  animation: loading 2s infinite ease 1.5s;
}
.CheckoutForm .spinner:after {
  width: 10.4px;
  height: 10.2px;
  background: #5469d4;
  border-radius: 0 10.2px 10.2px 0;
  top: -0.1px;
  left: 10.2px;
  -webkit-transform-origin: 0px 10.2px;
  transform-origin: 0px 10.2px;
  -webkit-animation: loading 2s infinite ease;
  animation: loading 2s infinite ease;
}
@keyframes loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@media only screen and (max-width: 600px) {
  .CheckoutForm form {
    width: 80vw;
  }
}

.StoreItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: calc(100% - 360px);
}
.StoreItem .item {
  display: flex;
  align-items: center;
  border: 1px solid #7c9473;
  padding: 20px;
}
.StoreItem .item .item-left {
  height: 300px;
}
.StoreItem .item .item-left img {
  object-fit: cover;
  height: 300px;
}
.StoreItem .item .item-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  width: 300px;
  min-height: 300px;
  padding-left: 20px;
  box-sizing: border-box;
}
.StoreItem .item .item-right .item-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.StoreItem .item .item-right .item-info .price {
  margin: 5px 0;
}
.StoreItem .item .item-right .item-actions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.StoreItem .item .item-right .item-actions .input-qty {
  align-self: center;
  width: 70px;
  margin-bottom: 5px;
}
.StoreItem .item .item-right .item-actions .btns-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 5px 0;
  align-self: flex-end;
}
.StoreItem .item .item-right .item-actions .btns-container .button {
  width: 150px;
  margin-bottom: 4px;
}

.Signup .label-form {
  margin-top: 5px;
}
.Signup .button {
  width: 160px;
  margin: 20px 0;
}

/*# sourceMappingURL=Signup.css.map */
