@import "../../App.scss";

.Profile {
  @include flexCenter(column, center, center);
  .heading {
    @include mainTitle();
    text-align: center;
    color: $dark-green;
    margin: 30px 0 10px;
  }
  .sub-heading {
    @include subtitle();
    text-align: center;
    color: $dark-green;
    margin: 10px 0 30px;
    svg {
      font-size: 2rem;
    }
  }
  .cards-container {
    @include flexCenter(column, center, center);
    margin-bottom: 20px;
    .card {
      display: grid;
      grid-template-columns: 180px 250px 200px;
      max-width: 800px;
      padding: 20px;
      margin: 12px;
      background-color: white;
      border-radius: 10px;
      box-shadow: 0px 10px 16px 2px rgba(0, 0, 0, 0.3);
      img {
        object-fit: cover;
        width: 150px;
        height: 150px;
      }
      .names {
        @include flexCenter(column, center, flex-start);
        .common {
          margin: 0;
          font-size: 1.6rem;
        }
        .botanical {
          margin: 0;
          font-size: 1.1rem;
        }
      }
      .btns-container {
        @include flexCenter(column, space-evenly, center);
        .button {
          width: 180px;
        }
      }
    }
  }
}
