@import '../../App.scss';

.Admin {
  @include flexCenter(column, center, center);                          
  .tables-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .button {
    width: 200px;
    margin: 30px 0 20px;
  }
  hr {
    width: 100%;
    height: 1px;
  }
  .table-container {
    @include flexCenter(column, center, center);
    background-color: lightgray;
    width: 600px;
    margin: 20px 0;
    padding: 10px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 10px 16px 2px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 10px 16px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 10px 16px 2px rgba(0, 0, 0, 0.3);
    h2 {
      margin: 8px 0;
    }
    .actions-cell {
      min-width: calc(100% - 4px);
      .actions-cell-content{
        display: flex;
        justify-content: space-evenly;
      }
    }
    .link:hover {
      color: $dark-grey;
    }
    .sale-icon {
      padding-top: 2px;
      font-size: 1.1rem;
    }
    .add-btn {
      display: flex;
      justify-content: center;
      .add-icon {
        font-size: 1.1rem;
        cursor: pointer;
      }
    }
    .edit-icon {
      padding-top: 3px;
      font-size: 1.1rem;
    }
    .delete-icon {
      font-size: 1.4rem;
    }
    .on-store, .stock {
      width: 1px;
      text-align: center;
    }
  }
}
