@import '../../App.scss';

.Footer{
    background-color: $dark-green;
    color: whitesmoke;
    width: 100vw; 
    height: 260px;
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    h5{
        font-size: 16px;
    }
    .link {
        margin: 5px 0px;
        text-decoration: none;
        color: whitesmoke;
    }
    .Contact{
        .contact-name {
            display: inline-block;
            width: 140px;
            padding: 5px;
        }
        
    }
    .icons{
        margin: 0px 5px;
        color: rgb(255, 255, 255);
        // width: 50px;
        // height: 50px;
        border-radius: 50px;
        transition: 0.3s;
        &:hover {
            color: $soft-green;
        }
        svg {
            font-size: 1.2rem;
            transform: translateY(4px);
        }
      }
    .Join {
        display: flex;
        flex-direction: column;
    }
    .About {
        display: flex;
        flex-direction: column;
    }
}