@import '../../App.scss';

.Blog {
  @include flexCenter(column, center, center);

  background-size: 100%;
  background-color:  $soft-grey;
  .post-container{
    padding-bottom: 10vh;
    @include flexCenter(column, center, center);
    width: 100%;
    button{
      margin: 20px;
    }
    .post{
      @include flexCenter(row, flex-start, start);
      border-radius: 16px ; 
      width: 60vw;
      margin: 20px;
      padding: 50px;
      /* border: 2px solid #7c9473; */
      background-color: white;
      h2{
        color: $dark-green;
      }
      img{
        object-fit: cover;
        width: 200px;
        height: 200px;
      }
      .post-text {
        width: 100%;
        height: 100%;
      }
      .post-content{
        @include flexCenter(column, center, start);
        margin-left: 20px;
        width: 100%;
        height: 200px;
        .like-container {
          @include flexCenter(row, flex-end, flex-end);
          width: 100%;
          height: 30px;
          span {
            padding: 0 10px 2px;
          }
          .like-btn {
            transition: 0.3s;
            &.inactive {
              color: black;
            }
            &.active {
              color: $dark-green;
            }
            &:hover {
              color: $soft-green;
              transform: scale(1.5);
            }
          }
        }
      }
    }
  }
}
