@mixin mainTitle {
  font-size: 2rem;
}
@mixin title {
  font-size: 1.5rem;
}
@mixin subtitle {
  font-size: 1.2rem;
}
@mixin normalText {
  font-size: 1rem;
}

@mixin warnTitle {
  font-size: 2rem;
  color: red;
}

@mixin flexCenter($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

/* COLOR PALETTE */
$charcoal: #333;
$darker-grey: #666;
$dark-grey: #aaa;
$light-grey: #ccc;
$soft-grey: #e7e7e7;
$dark-green: #7c9473;
$medium-green: #96b08d;
// $medium-green: #abd09a;
$soft-green: #cfdac8;
$softer-green: #e6efe0;

body {
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  color: $charcoal;
  background-color: whitesmoke;
  box-sizing: border-box;
  &::-webkit-scrollbar {
    display: none;
  }
  ::selection {
    background: $dark-green;
    color: $soft-green;
  }
}

.App {
  min-height: calc(100vh - 260px);
  padding-bottom: 260px;
}

.table-div {
  display: table;
  .t-head-row {
    display: table-row;
    width: auto;
    .t-head-col {
      float: left;
      display: table-column;
      width: 130px;
      padding: 10px;
      background-color: $light-grey;
      border: solid 1px whitesmoke;
      font-weight: bold;
    }
  }
  .t-row {
    display: table-row;
    width: auto;
    .t-col {
      float: left;
      display: table-column;
      width: 130px;
      height: 21px;
      padding: 10px;
      overflow-x: hidden;
      background-color: $soft-grey;
      border: solid 1px whitesmoke;
    }
  }
}

.table {
  th {
    text-align: left;
    background-color: $light-grey;
    padding: 5px 20px;
  }
  tr {
    height: 32px;
  }
  td {
    background-color: $soft-grey;
    padding: 0 10px;
    // &:last-child {
    //   width: 5px;
    // }
    // &:not(:last-child) {
    //   padding: 0 10px;
    // }
  }
}

.link {
  color: $charcoal;
  transition: 0.3s;
  &:hover {
    color: $dark-grey;
  }
}

.input {
  padding: 5px 10px;
  border: 2px solid $dark-green;
  transition: 0.3s;
  &:focus {
    outline: none;
    border-radius: 5px;
    box-shadow: 0px 2px 3px 2px rgba(0, 0, 0, 0.15);
  }
  &::placeholder {
    color: $dark-green;
    font-weight: 500;
    opacity: 0.5;
  }
}
input[type="checkbox"] {
  accent-color: $dark-green;
}

.login-req {
  font: inherit;
  font-size: 4rem;
  text-align: center;
  color: red;
}

.button {
  width: 150px;
  background: none;
  background-color: $soft-green;
  color: $dark-green;
  border: 2px solid $dark-green;
  padding: 5px 10px;
  font: inherit;
  font-size: 1.1rem;
  text-decoration: none;
  font-weight: 700;
  text-align: center;
  box-sizing: border-box;
  outline: inherit;
  transition: 0.3s;
  cursor: pointer;
  &:hover {
    background-color: $softer-green;
    border-radius: 4px;
    box-shadow: 0px 2px 4px 1px rgba(0, 0, 5, 0.2);
  }
}

//GLOBAL SPINNER
.spinner {
  @include flexCenter(row, center, center);
  max-width: 100%;
  height: calc(100vh - 320px);
  margin: 0 auto;
  // margin-top: 50vh;
  .lds-ripple {
    @include flexCenter(row, center, center);
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ripple div {
    @include flexCenter(row, center, center);
    position: absolute;
    border: 4px solid $dark-green;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  }
  .lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
  }
  @keyframes lds-ripple {
    0% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 1;
    }
    100% {
      top: 0px;
      left: 0px;
      width: 72px;
      height: 72px;
      opacity: 0;
    }
  }
}
